SCRAPER_URL=
API_KEY=
AI_GATEWAY_API_KEY=
GOOGLE_API_KEY=

DATABASE_URL="postgresql://postgres:admin@localhost:5432/web_auto"
BETTER_AUTH_SECRET=

# URL Wajib
NEXT_PUBLIC_APP_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID="
GITHUB_CLIENT_SECRET=

NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

IP_SERVER=

# Cloudflare R2 Configuration
R2_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_access_key_id
R2_SECRET_ACCESS_KEY=your_secret_access_key
R2_BUCKET_NAME=automate
# URL Public untuk akses file (misal: https://cdn.yourdomain.com atau https://pub-xxx.r2.dev)
R2_PUBLIC_DOMAIN=https://your-custom-domain.com