node_modules
.env
.env.prod
dist
build
chrome_data_prod
data/swagger/swagger-output.json
data/sessions/session-chatgpt.bin
data/sessions/session-chatgpt.json
data/sessions/session-gemini.bin
data/sessions/session-gemini.json
./session-chatgpt.json
./session-gemini.json
content/images/*.png
content/images/*.webp
content/images/**/*.png
content/images/**/*.webp
temp_downloads
downloads
