DATABASE_URL="postgresql://postgres:admin@localhost:5432/web_auto"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
PORT=3002
NODE_ENV=development
ROOT_BUILD_PATH=
QUEUE_NAME=
NEXT_PUBLIC_APP_URL=http://localhost:3000
API_KEY=
ADMIN_EMAIL=
